<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../helpers/head.ejs %>
</head>

<body>

<div class="nav-bar">
    <% include ../helpers/navbar.ejs %>
</div>

<div class="page-header">

    <h1>About me</h1>

</div>
<div id="about">

    <p>
    Hello, my name is Amanjot and right now I am working as a web designer with Invest Ottawa. This is a reason why I am
    trying to learn more about wen development and trying my hands on web apps.
    </p>

    <p>
    I have worked on web app earlier, but that was using Java and a local Database. But this is something cool. i will
    be using Bootstrap, Node.js, jQuery and online databases like firebase. Also, this app is deployed on heroku server,
    which is something new for me.
    </p>

    <br>
    <h3 id="smallhead"> More about me</h3>
    <p>
    I am studying computer programming at Algonquin College and I came to canada last year. And I will be graduating
    next year!
    </p>

</div>

</body>
</html>