<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
<!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
<!-- Check out more components here: http://getbootstrap.com/components/ -->
<div class="nav-bar">
    <% include ../helpers/navbar.ejs %>
</div>

<div class="page-header">

    <h1>Social Media</h1>

</div>

<div>

    <table>

        <tr>
            <td>
                <img src="https://image.flaticon.com/icons/svg/174/174855.svg" id="icon">
                <a href="https://instagram.com/amanjot.sd"> Instagram </a>
            </td>

            <td>
                <img src="https://image.flaticon.com/icons/svg/1384/1384053.svg" id="icon">
                <a href="https://facebook.com/Amanjot1812"> Facebook </a>
            </td>

            <td>
                <img src="https://image.flaticon.com/icons/svg/174/174857.svg" id="icon">
                <a href="https://linkedin.com/in/Amanjot1800"> LinkedIn </a>
            </td>
        </tr>

    </table>


</div>


</body>

</html>