<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Hello, my name is motta and I love cooking</h1>
  </div>

  <img src="images/motta.jpg">
  
  <p>Click on the button for my contacts.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <p id="new"></p>

  <p id="new2"></p>

  <div id="image1"></div>
  <div id="image2"></div>
  <div id="image3"></div>

  
</body>

</html>